{% extends "layout.html" %}
  
{% block body %}
  
{% for post in posts %}

<div class="card mb-3 m-4 w-60">
  <h3 class="card-header" style="color:#495057">{{ post.title }}</h3>
  
  <div class="card-body">
    {% if post.subtitle %}
      <h5 class="card-title">{{ post.subtitle }}</h5>
    {% endif %}
  </div>
  
  {% if post.url_img %}
    <img src="{{ url_for('static', filename=post.url_img) }}" class="img-fluid" alt="Imagen del Post">
  {% endif %}

  
  <div class="card-body">
    <p class="card-text">{{ post.body }}</p>
  </div>
  
  <div class="card-body">
    <a href="#" class="card-link">Ir al Post</a>
  </div>
</div>

{% endfor %}

{% endblock %}
