{% extends "layout.html"%}
  
{% block body %}
<br>
<h2>Mis posts</h2>
<div style="display: flex; flex-direction: row; flex-wrap: wrap; margin-bottom: 5vh;">
{% for post in posts_list %}

<div class="card mb-3 m-4 w-60 col-3">
  <h3 class="card-header" style="color:#495057">{{ post.title }}</h3>
  <div class="card-body">
    {% if post.subtitle %}
      <h5 class="card-title">{{ post.subtitle }}</h5>
    {% endif %}
  </div>
  
  {% if post.url_img %}
    <img src="{{ url_for('static', filename=post.url_img) }}" class="img-fluid" style="max-height: 50vh; object-fit: cover;" alt="Imagen del Post">
  {% endif %}
  
  <div class="card-body">
    <p class="card-text">
        {{ post.body[:100] }}{% if post.body|length > 100 %}...{% endif %}
    </p>
  </div>
  
  <div class="card-body">
    <a href="{{ url_for('view_post', post_id=post.id) }}" class="card-link">Ir al Post</a>
  </div>
</div>

{% endfor %}
</div>
{% endblock %}
